#mainDiv{
    position: relative;
    width: 235px;
    font: 1em Arial,sans-serif;
      float: left;
      margin-right:40px
  }

  #mainDiv .game{
    width: 175px;
    height: 175px;
    box-shadow: 0 0 3px #999;
    padding: 0 30px;
    background: #eee;
    border-radius: 1px;
  }
  #mainDiv .game .item,#mainDiv .game span{
    width: 58px;
   height: 58px;
   outline: 1px solid #ccc;
   float: left;
   text-align: center;
   line-height: 58px;	 
   background: #fff;
   text-decoration: none;
   font-size:2em;
   color: #777;
   text-shadow: 1px 1px 2px #999;
  }

  